<section class="container fold">
	<h2><%=@airline.name%> on-time performance at <%=@airport.name%></h2>

	<p>This is the history of on-time performance for 
		<%=link_to @airline.name, url_for(:ontime_records, :delays_by_airline, :airline=>@airline) %> 
		at 
		<%=link_to @airport.name, url_for(:ontime_records, :delays_by_airport, :airport=>@airport) %> 

	</p>

	<%=partial "ontime/raw-tabular-data", :locals=>{:records=>@ontime_records}%>

</section>



