<%= partial 'template/meta-header' %>

<body>
   <%= partial 'template/header' %>

      <div id="main" role="main">

		
         <%= yield %>
			
      </div> <!--/ #main -->





   <%= partial 'template/footer' %>
   <%= partial 'template/meta-footer' %>
  	


</body>


</html>
