<%= partial 'template/meta-header' %>

<body>
   <%= partial 'template/header' %>

      <div id="main" class="container" role="main">
		<div class="row">

		
         <%= yield %>
			
		</div> <!--/ .sidebar #main -->
      </div> <!--/ #main -->





   <%= partial 'template/footer' %>
   <%= partial 'template/meta-footer' %>
  	


</body>


</html>
